body {
  display: flex;
  flex-direction: column;
  border-style: solid;
}

h1 {
  display: flex;
  margin: auto;
  border-style: solid;
}

.sidebar {
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-style: solid;
margin: auto;
}

