.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}

.container > div {
  background-color: aliceblue;
  width: 500px;
  margin: 10px;
}

.orgchickpic {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  font-family: Sora;
}